.galeria-bg h2{
    text-align: center;
    font-size: 2rem;
    padding-top: 40px;
    padding-bottom: 40px;
}

.galeria-container-one{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 60px;
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 40px;
}
.galeria-one img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.galeria-three{
    padding-bottom: 40px;
}
.galeria-two img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.galeria-container-two{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 60px;
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 40px;
}
.galeria-three img{
    width: 100%;
    height: 300px;
    
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
