*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}
img{
  max-width: 100%;
  display: block;
}
a{
  text-decoration: none;

}

ul{
  list-style: none;
}

.header-bg{
  background: #92E2E9;
}

.header-container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-logo{
  width: 9.5rem;
  padding: 20px;
}
.menu-hamburguer{
  display: none;
}
.header-menu{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  padding-top: 40px;
}

.header-menu a{
  color: #fff;
  font-size: 20px;
  font-weight: bolder;
}

.header-menu a:hover{
  filter: brightness(0.9);
}
.header-icone-vezes {
  position: absolute;
  display: block;
  width: 20px;
  height: 60px;
  left: 80px;
}

.header-icone-atomo{
  position: absolute;
  display: block;
  width: 50px;
  height: 60px;
  left: 350px;
  animation: is-rotating 4s infinite;
}

@keyframes is-rotating {
  to {
    transform: rotate(360deg);
  }
}

.header-icone-lapis{ 
  position: absolute;
  display: block;
  width: 50px;
  height: 60px;
  color: #F8F47C;
  left: 550px;
}

.header-icone-mochila{
  display: none;
}
@media(max-width: 1000px){
  .header-icone-lapis{
    left: 450px;
  }
  .header-icone-atomo{
    left: 250px;
  }
}


@media(max-width: 900px){
  .header-icone-lapis{
    left: 400px;
  }
  .header-icone-atomo{
    left: 250px;
  }
}
@media(max-width:800px){
  .header-icone-lapis,
  .header-icone-vezes{
    display: none;
  }
  .menu-hamburguer{
    display: block;
    margin-right: 20px;
    cursor: pointer;
  }
  nav {
    display: none;
    position: absolute;
    z-index: 99;
    background: rgba(0, 0, 0, 0.8);
    width: 50vw;
    height: calc(60vh - 100px);
    top: 100px;
    right: 0;
  }
  nav.ativo{
    display: block;
  }
  .header-menu{
    flex-direction: column;
  }

}

@media(max-width: 400px){
  .header-icone-atomo{
    width: 30px;
    height: 50px;
    left: 200px;
  }
  .menu-hamburguer{
    margin-right: 10px;
  }
}

