.introduction-bg{
    background: #49CED9;
}

.introduction-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.introduction-text{
    align-self: flex-end;
    padding-left: 80px;
    padding-top: 40px;
}
.introduction-text h1{
    color: #FFF;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 2.5rem;
}

.introduction-text p{
    color: #FFF;
    padding-bottom: 20px;
   
}

.introduction-paragraph{
    color: #FFF;
    font-weight: bold;
}

.introduction-image img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: right center;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 20px;  
}
.introduction-text a{
    color: #494948;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    background: #F8F47C;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
    padding: 15px 30px;
    display: inline-block;
    border-radius: 35px;
    margin-bottom: 40px;
    margin-left: 30px;
}
.introduction-text a:hover{
    filter: brightness(0.9);
}

.introduction-icone-vezes{
    position: absolute;
    display: block;
    width: 40px;
    height: 60px;
    left: 600px;
    top: 100px;
}

.introduction-icone-dividir{
    position: absolute;
    display: block;
    width: 30px;
    height: 40px;
    top: 100px;
}

.introduction-icone-dividir2{
    position: absolute;
    display: block;
    width: 30px;
    height: 40px;
    left: 700px;
    top: 300px;
}

.introduction-icone-lapis{
    position: absolute;
    display: block;
    width: 80px;
    height: 40px;
    top: 330px;
    transform: scaleX(-1);
    left: -20px;
    margin: 20px;
}
.introduction-icone-atomo{
    position: absolute;
    display: block;
    width: 50px;
    height: 60px;
    top: 360px;
    left: 450px;
    animation: is-rotating 4s infinite;
  }
  
  @keyframes is-rotating {
    to {
      transform: rotate(360deg);
    }
  }
  .introduction-icone-mochila{
    position: absolute;
    display: block;
    width: 80px;
    height: 60px;
    top: 340px;
    right: 10px;
    
  }

  @media(max-width: 1000px){
    .introduction-text h1{
        font-size: 2rem;
    }
    .introduction-text p{
        font-size: 0.85rem;
    }
    .introduction-image img{
        width: 14rem;
        height: 14rem;
    }
    .introduction-icone-mochila,
    .introduction-icone-lapis{
        top: 300px;
    }
  }
  @media(max-width: 900px){
    .introduction-image img{
        display: none;
    }
    .introduction-icone-dividir2{
        left: 500px;
    }
    
  }

  @media(max-width: 800px){
    .introduction-icone-mochila,
    .introduction-icone-lapis,
    .introduction-icone-dividir2,
    .introduction-icone-atomo{
        display: none;
    }
    .introduction-text h1{
        font-size: 1.5rem;
    }
    .introduction-text p{
        font-size: 0.70rem;
    }
    .introduction-text a{
        font-size: 11px;
    }
    
  }
  @media(max-width: 700px){
    .introduction-text{
        padding-top: 0px;
    }
    .introduction-icone-vezes{
        display: none;
    }
  }
  @media(max-width: 400px){
    .introduction-icone-dividir{
        display: none;
    }
    .introduction-text{
        padding: 0px;
        margin-left:30px ;
        top: 0px;
    }
    .introduction-text h1{
        font-size: 1.4rem;
    }
    .introduction-text p{
        padding-bottom: 0px;
    }
    .introduction-text a{
        margin-top: 30px;
        margin-left: 50px;
    }
  }

  
