.metodologia-bg{
   max-width: 1100px;
    margin: 0 auto;
}

.metodologia-bg h2{
    text-align: center;
    margin-top: 20px;
}
.metodologia-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 40px;
    
    
}
.metodologia-icones{
    width: 120px;
    height: 120px;
    margin: 0 auto;
    
}
.metodologia-titulos{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.metodologia-paragrafos{
    text-align: center;
    font-size: 0.85rem;
    max-width: 300px;
    margin: 0 auto;
    

}
.nosso-orgulho-bg{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    max-width: 1100px;
    padding: 20px;
    margin: 0 auto;
    gap: 30px;
    padding-bottom: 40px;
}
.nosso-orgulho-element{
    margin: 0 auto;
    
}
.nosso-orgulho-imagem{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    
}
.nosso-orgulho-titulo{
    padding-top: 40px;
    font-size: 1.8rem;
    
}
.nosso-orgulho-paragrafos{
    font-size: 0.85rem;
}
.nosso-ougulho-international h3{
    padding-bottom: 20px;
}